<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8"/>
        <title>Cadastrar Artigo</title>
    </head>

    <body>
        <div sec:authorize="isAuthenticated()" class="container">
            <form class="form-group" method="post" th:action="@{/cadastrarArtigo}"th:object="${_a}" >
              <input type="text"name="titulo"placeholder="Titulo">
              <input type="text"name="resumo"placeholder="Resumo">
              <input type="text"name="publicado"placeholder="Situação">  
              <input type="submit" class="btn btn-danger" value="Cadastrar"/>
            </form>
      </div>
    </body>

</html>